
/* Структура */

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../static/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../static/fonts/JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('../static/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../static/fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #282c34;
    color: #c1c8d5;
    font: 0.9em 'JetBrains Mono';
    margin: 0;
}

/* Атомарные классы */

.container {
    box-sizing: border-box;
    margin:0 auto;
    max-width: 820px; /* Задать ширину блоков */
    min-width: 320px;
}

.bimg, .bimg img {
    display: block;
    width: 100%;
}

.block {
    margin-bottom: 30px;
}

h2 {
    margin: 0 0 15px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #3b84c0;
}
h3 {
    margin: 0 0 15px;
    color: #98c379;
}

table.list {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}
table.list th, table.list td {
    padding: 5px 7px;
    vertical-align: top;
}
table.list th {
    background: #3b84c0;
    color: #282c34;
}
table.list tr:hover, table.list .fix {
    background: #7a9f60;
    color: #282c34;
}

a {
    color: #98c379;
}
a:hover {
    color: #61afef;
}

/* БЭМ */

nav {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #98c379;
    padding: 12px 0;
    margin-bottom: 30px;
}
nav a {
    text-decoration: none;
    display: block;
}

#skill .level {
    color: #e06c75;
}

#work .item {
    margin-bottom: 15px;
    border-bottom: 1px solid #98c379;
    padding-bottom: 15px;
}
#work .time {
    color: #9a52af;
}

#project .inner {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}
#project .item {
    position: relative;
    border: 1px solid #3b84c0;
    padding: 3px;
}
#project .preview {
    max-width: 300px;
}
#project .title {
    font-weight: bold;
    font-size: 1.2em;
}
#project .descr {
    margin: 10px 0;
}
#project .link_area {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
#project .hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}
#project .item:hover .hover,
#project .item .hover.on {
    display: block;
    transition: .3s;
}


/* Адаптив */

@media all and (min-width: 851px) {
    .nob {
        display: none;
    }
    
}
@media all and (max-width: 850px) {
    .container:not(.cpn) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nom {
        display: none;
    }

}